{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
</div>
<div class="content">
<p><a href="/about">Casey Becking</a> is a driven, passionate and experience professional within the Ecommerce/ IT systems branch.</p>
<p>Currently working in the critical application support department for <a href="{{ $.Site.Data.jobs.rackspace.url}}">{{ $.Site.Data.jobs.rackspace.name}}</a> and perviously managed <a href="{{ $.Site.Data.jobs.volcom.url}}">{{ $.Site.Data.jobs.volcom.name}}</a>, on behalf of <a href="{{ $.Site.Data.jobs.kering.url}}">{{ $.Site.Data.jobs.kering.name}}</a> Shared Services. Stand out system architect/Technical Liaison able to speak both business and technical elements with clients</p>
<p>Particularly focusing on enterprise-level development and infrastructure architecture, Casey strives to help his customers reach the full potential of their enterprises by cutting useless extra costs and maximizing their networks and systems.</p>

<h1>History</h1>
{{ range $.Site.Data.jobs }}
	<h2><a href="{{ range .url }}{{ . }}{{ end }}">{{ range .name }}{{ . }}{{ end }}</a></h2>
	<h3>Title</h3>
		{{ range .positions }}{{ . }}{{ end }}
	<h3>Time Period</h3>
		From <i>{{ range .hire }}{{ . }}{{ end }}</i> - To  <i>{{ range .term }}{{ . }}{{ end }}</i>
	<h3>Responsibilities</h3> 
	{{ range .descriptions }}
		<li>{{ . }}</li>
	{{ end }}
	
	<h3>Technologies Used</h3> 
	{{ range .dailyTechnologies }}
		<li>{{ . }}</li>
	{{ end }}

{{ end }}

</div>

{{ partial "footer.html" . }}






